* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #262626;
    background-image: linear-gradient(to right, #333 1px, transparent 1px),
      linear-gradient(to bottom, #333 1px, transparent 1px);
    background-size: 4vh 4vh;
  }
  
  a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 4em;
    font-weight: 600;
    padding: 0 100px;
  }
  
  a span {
    position: relative;
    color: transparent;
    --webkit-text-stroke: 1px #ffbe0b;
    line-height: 1.2em;
    padding: 5px 10px;
    animation: textAnimate 12s infinite;
    animation-delay: calc(-3s * var(--i));
  }
  
  @keyframes textAnimate {
    0% {
      display: inline-block;
    }
    25%,
    100% {
      display: none;
    }
  }
  
  a span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    height: 100%;
    top: -2px;
    left: -2px;
    color: #ffbe0b;
    border: 2px solid #ffbe0b;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    animation: animate 3s linear infinite;
    filter: drop-shadow(0 0 5px #ffbe0b) drop-shadow(0 0 25px #ffbe0b);
  }
  
  @keyframes animate {
    0%,
    10%,
    100% {
      width: 0px;
    }
    70%,
    90% {
      width: 100%;
    }
  }
  